.main-page {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.search-box-container {
	position: absolute;
	top: 0px;
	left: 0px;
}

.search-box_button {
	// background-color: none;
}
